:root {
  --color-background-dark: #120C00;
  --color-background: #342211;
  --color-text: #E5DFDA;
  
  --color-button: #84694D;
  --color-button-shadow: #51361A;
  --color-button-pressed: #654321;
  --color-button-hover: #9D8771;
  --color-button-disabled: #888888;
  --color-button-disabled-shadow: #666666;

  --color-input-background: #9D8771;
  --color-input-text: #342211;

  --color-card-background: #E5DFDA;

  --color-card-black: #010206;
  --color-card-red: #F2653E;
  --color-card-blue: #1F85B8;
  --color-card-brown: #905532;
  --color-card-green: #2DAC5E;
  --color-card-yellow: #F8A940;
  --color-card-purple: #8B489C;
  --color-card-gray: #818688;

  --color-card-selected: #F8A940;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

input {
  color: var(--color-input-text);
  background-color: var(--color-input-background);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
