/* @media (prefers-color-scheme: dark) { */
:root {
  --color-background: #342211;
  --color-text: #E5DFDA;
  
  --color-button: #84694D;
  --color-button-shadow: #51361A;
  --color-button-pressed: #654321;
  --color-button-hover: #9D8771;
  --color-button-disabled: #888888;
  --color-button-disabled-shadow: #666666;

  --color-input-background: #9D8771;
  --color-input-text: #342211;

}
/* } */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

input {
  color: var(--color-input-text);
  background-color: var(--color-input-background);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
